<div class="hero">
  <div class="page-width">
    <h1>Faaborg Home</h1>
    {% render 'icon' with 'icon-menu.svg' %}
  </div>
</div>

{% schema %}
{
  "name": "Home",
  "settings": []
}
{% endschema %}