.footer {
  padding: 96px 56px 80px;

}

.footer__container {
    display: grid;
    gap: 112px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 24px;
}

.footer__about {
  /* padding: 0 112px 0 0; */
}

.footer__nav {
  display: flex;
  /* padding: 0 112px 0 0; */
}

.footer__nav-column {
  width: 100%;
}

.footer__subscribe {

}

.footer__copyright {

}

.footer__privacy-links {

}

.footer__language {
  margin-top: 20px;
}

.country-selector {
  /* Добавьте стили для выпадающего списка */
  padding: 5px;
  font-size: 14px;
  /* Другие стили по вашему усмотрению */
}



.footer__h3 {
  color: var(--text);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
  margin: 0 0 12px;
}

.footer__h4 {
  color: var(--mediumText);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  margin: 0 0 12px;
}

.footer__text {
  color: var(--text);
  font-size: 14px;
  line-height: 26px; /* 185.714% */
}

.footer__link {
  color: var(--text);
  font-size: 14px;
  line-height: 26px; /* 185.714% */
  text-decoration-line: underline;
}

.footer__payment-logos {
  display: flex;
  gap: 24px;
}